body {
    font-family: Arial, sans-serif;
    background: #eef3f9;
    margin: 0;
    padding: 20px;
}

.form-container {
    background: rgb(231, 231, 255);
    max-width: 750px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
}

.header {
    background: #425777;
    color: white;
    padding: 25px;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
     width: 45px;
    height: 45px;
    background: white;
    border-radius: 6px;
}

.logo-inside {
width: 100%;
height: 100%;
object-fit: contain;
}

.logo-shape {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 5px;
}

.college-name {
    font-size: 12px;
    line-height: 12px;
}

.subtitle {
    margin-top: -5px;
    font-size: 14px;
    opacity: .9;
}

label {
    display: block;
    margin-top: 1px;
    font-weight: bold;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #dce4f3;
    border: none;
    border-radius: 3px;
}
input{
    flex: 0%;
}
.row {
    display: flex;
    gap: 10px;
}

.row input {
    flex: 1;
}

textarea {
height: 10px;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 20px;
}

.btn-primary {
    background: #111b2b;
    border: none;
    width: 100%;
    height: 30px;
     border: none;
    border-radius: 3px;
}

.btn-primary:hover {
    background: #e4e8ee;
    
}

.footer {
    background: #2c3d55;
}

